# git ignore file

# Use glob syntax
syntax:glob

# Build artifacts
bin
obj
lib
*.o
*.a

test/obj
test/*.o
test/fancywork_test

# temp files
tmp
.DS_Store
*.tmp
*~

# image files
img
*.png
*.jpg
*.jpeg

# text files
*.txt
